<{* $Id: timeline_inc_painter_json_js.html,v 1.4 2011/12/26 05:47:21 ohwada Exp $ *}>

<style>
div.timeline-event-icon {
	border: 1px solid #aaa;
	padding: 1px;
	background: white;
}
div.timeline-event-icon-default {
	border: none;
	padding: 0px;
}
</style>

<script type="text/javascript">
//<![CDATA[

function timeline_load_<{$id}>() 
{
	var timeline_param = {};
	timeline_param["json"]             = "<{$json}>";
	timeline_param["icon_alone"]       = "<{$icon_alone}>";
	timeline_param["element"]          = "<{$element}>";
	timeline_param["band_0_date"]      = "<{$band_0_date}>";
	timeline_param["band_0_width"]     = "<{$band_0_width}>";
	timeline_param["band_0_pixels"]    = "<{$band_0_pixels}>";
	timeline_param["band_1_date"]      = "<{$band_1_date}>";
	timeline_param["band_1_width"]     = "<{$band_1_width}>";
	timeline_param["band_1_pixels"]    = "<{$band_1_pixels}>";
	timeline_param["band_1_layout"]    = "<{$band_1_layout}>";
	timeline_param["band_0_unit"]      = <{$band_0_unit}>;
	timeline_param["band_1_unit"]      = <{$band_1_unit}>;
	timeline_param["band_1_syncwith"]  = <{$band_1_syncwith}>;
	timeline_param["band_1_highlight"] = <{$band_1_highlight}>;

	<{if $center_date !='' }>
		timeline_param["center_date"] = new Date( Date.parse( "<{$center_date}>" ) );
	<{else}>
		timeline_param["center_date"] = null;
	<{/if}>

	timeline_painter_json( timeline_param );

	Timeline.writeVersion('timeline_version');
}

<{if $show_onload }>
  window.onload = timeline_load_<{$id}>;
<{/if}>
<{if $show_onresize }>
  window.onresize = timeline_resize
<{/if}>

//]]>
</script>

<{if $show_element }>
  <div id="<{$element}>" style="<{$style}>">Loading ...</div>
<{/if}>
